<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if request.user.is_authenticated %}
    <p>{{request.user}}</p>
    <a href="{% url 'logout' %}">Sign out</a>
    {% else %}
    <a href="{% url 'login' %}">Sign in</a>
    {% endif %}

    <h1>To-Do List</h1>
    <a href="{% url 'task-create' %}">Add Task</a>

    <form method="GET">
        <input type="text" name="search-area" value="{{search_input}}">
        <input type="submit" value="Search">
    </form>

    <table>
        <tr>
            <th>Tasks</th>
            <th></th>
        </tr>
        {% for task in tasks %}
        <tr>
            <td>{{task.title}}</td>
            <td><a href="{% url 'task-details' task.id %}">View</a></td>
            <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
            <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
        </tr>
        {% empty %}
        <h3>You have no tasks to complete</h3>
        {% endfor %}
    </table>
</body>
</html>